

     <div class="rightnav">
        <h2>Admin</h2>
         <h3>Monitor</h3>
        <ul class="sidenav">
            <li><a href="~/elmah.axd" target="_blank">Error Log</a></li>
        </ul>
        <h3>Settings</h3>
         <ul class="sidenav">
         <li>@Html.ActionLink("Global Parameters","Index","GlobalParameters")</li>
             </ul>
     </div>