

     <div class="rightnav">
        <h2>Orders</h2>
         <h3>Management</h3>
        <ul class="sidenav">
            <li>@Html.ActionLink("Orders", "Index", "Order")</li>
            <li>@Html.ActionLink("Charges", "Index", "Charge")</li>
            <li>@Html.ActionLink("Order Items", "Index", "OrderItem")</li>
        </ul>
     </div>