

     <div class="rightnav">
        <h2>Reports</h2>
         <h3>Main</h3>
        <ul class="sidenav">
            <li><a href="~/WebForms/Reports/ChargesReportForm.aspx">Charges</a></li>
            <li><a href="~/WebForms/Reports/ClientDataForm.aspx">Client Sales</a></li>
        </ul>
     </div>